@model Recrutment_system.Models.ViewModel.forgetpassword

@{
    ViewBag.Title = "Forgotpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Forgotpassword</h2>
<hr />
@ViewBag.msg
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>forgetpassword</h4>*@
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.newpassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newpassword)
                @Html.ValidationMessageFor(model => model.newpassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.confirmpassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.confirmpassword)
                @Html.ValidationMessageFor(model => model.confirmpassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
